.body {
    background-color: rgb(243, 162, 176);
}

.msg {
    background-color: rgb(240, 23, 77);
    width: 280px;
    height: 200px;
    margin-left: 20px;
    margin-top: -40px;
}

.wish {
    background-image: url(wish.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: 110px;
    margin-top: 80px;
}

.clip {
    background-image: url(clip.png);
    height: 60px;
    width: 100px;
    background-position: center;
    background-size: 110px;
    margin-left: 200px;
    margin-top: 0px;
}

.btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: beige;
    background-color: rgb(52, 111, 238);
}

.img {
    width: 300px;
    height: 600px;
}

.img {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    margin-left: 400px;
    height: 500px;
}

.index {
    height: 20px;
    width: 20px;
    margin-left: 80px;
    margin-top: 500px;
}

.index:nth-child(1) {
    animation-name: one;
    animation-duration: 6.6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.index:nth-child(2) {
    animation-name: two;
    animation-duration: 6.9s;
    animation-iteration-count: infinite;
    animation-delay: 2.2s;
}

.index:nth-child(3) {
    animation-name: three;
    animation-duration: 6.8s;
    animation-iteration-count: infinite;
    animation-delay: 1.6s;
}

.index:nth-child(4) {
    animation-name: four;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 2.5s;
}

.index:nth-child(5) {
    animation-name: five;
    animation-duration: 7.4s;
    animation-iteration-count: infinite;
    animation-delay: 2.8s;
}

@keyframes one {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes two {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes three {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes four {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes five {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.h {
    background-color: blue;
    color: blue;
    text-align: center;
}